Repository Farfetch/blackout-react-native, changes with the labels that .github/labeler.yml gives for each.
All labels: :package:  react-native-analytics, :package:   react-native-metro-transformer, :package:   react-native-payments, :package:    react-native-riskified-integration, type: maintenance, type: documentation

feat: add react-native-payments
  packages/react-native-payments/README.md
  packages/react-native-payments/package.json
  packages/react-native-payments/src/__tests__/CreditCard.test.js
  packages/react-native-payments/src/components/CreditCard.js
Labels: :package:   react-native-payments, type: documentation

feat: add react-native-payments
  jest.config.js
  packages/react-native-payments/src/__mocks__/react-native-webview.js
  packages/react-native-payments/src/__tests__/CreditCard.test.js
Labels: :package:   react-native-payments

feat: add react-native-payments
  packages/react-native-payments/package.json
  packages/react-native-payments/src/components/CreditCard.js
Labels: :package:   react-native-payments

chore: improvements to workflows
  .github/semantic.yml
  .github/workflows/PullRequestLabeler.yml
Labels: type: maintenance

chore: improvements to workflows
  .github/semantic.yml
  .github/workflows/PullRequestLabeler.yml
Labels: type: maintenance

chore: prevent CI action to run on draft pull requests
  .github/workflows/CI.yml
Labels: type: maintenance

chore: prevent CI action to run on draft pull requests
  .github/workflows/CI.yml
Labels: type: maintenance

fix: fix android crash and update async-storage package
  __mocks__/@react-native-async-storage/async-storage.js
  __mocks__/@react-native-community/async-storage.js
  package.json
  packages/react-native-analytics/README.md
  packages/react-native-analytics/package.json
  packages/react-native-analytics/src/contexts/__tests__/getClientInstallIdContext.test.js
  packages/react-native-analytics/src/contexts/getClientInstallIdContext.js
  packages/react-native-riskified-integration/android/src/main/java/com/farfetch/reactnative/RiskifiedIntegrationModule.java
  yarn.lock
Labels: :package:  react-native-analytics, :package:    react-native-riskified-integration, type: documentation

fix: fix android crash and update async-storage package
  __mocks__/@react-native-async-storage/async-storage.js
  __mocks__/@react-native-community/async-storage.js
  package.json
  packages/react-native-analytics/README.md
  packages/react-native-analytics/package.json
  packages/react-native-analytics/src/contexts/__tests__/getClientInstallIdContext.test.js
  packages/react-native-analytics/src/contexts/getClientInstallIdContext.js
  packages/react-native-riskified-integration/android/src/main/java/com/farfetch/reactnative/RiskifiedIntegrationModule.java
  yarn.lock
Labels: :package:  react-native-analytics, :package:    react-native-riskified-integration, type: documentation

chore: publish [skip ci]
  packages/react-native-analytics/CHANGELOG.md
  packages/react-native-analytics/package.json
  packages/react-native-riskified-integration/CHANGELOG.md
  packages/react-native-riskified-integration/package.json
Labels: :package:  react-native-analytics, :package:    react-native-riskified-integration, type: documentation

feat(react-native-analytics): add react-native castle.io integration
  __mocks__/react-native.js
  packages/react-native-analytics/package.json
  packages/react-native-analytics/src/__tests__/index.test.js
  packages/react-native-analytics/src/index.js
  packages/react-native-analytics/src/integrations/AnalyticsService/AnalyticsService.js
  packages/react-native-analytics/src/integrations/AnalyticsService/__tests__/AnalyticsService.test.js
  packages/react-native-analytics/src/integrations/__tests__/index.test.js
  packages/react-native-analytics/src/integrations/castle/Castle.js
  packages/react-native-analytics/src/integrations/castle/__tests__/Castle.test.js
  packages/react-native-analytics/src/integrations/castle/index.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/FirebaseAnalytics.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/FirebaseAnalytics.test.js
  packages/react-native-analytics/src/integrations/forter/Forter.js
  packages/react-native-analytics/src/integrations/forter/__tests__/Forter.test.js
  packages/react-native-analytics/src/integrations/forter/constants.js
  packages/react-native-analytics/src/integrations/forter/index.js
  packages/react-native-analytics/src/integrations/forter/utils/defaultActionCommandBuilder.js
  packages/react-native-analytics/src/integrations/forter/utils/defaultNavigationCommandBuilder.js
  packages/react-native-analytics/src/integrations/index.js
  packages/react-native-analytics/src/integrations/integration/index.js
  packages/react-native-analytics/src/integrations/omnitracking/index.js
  packages/react-native-riskified-integration/README.md
  packages/react-native-riskified-integration/src/Riskified.js
  yarn.lock
Labels: :package:  react-native-analytics, :package:    react-native-riskified-integration, type: documentation

feat(react-native-analytics): add react-native castle.io integration
  __mocks__/react-native.js
  packages/react-native-analytics/package.json
  packages/react-native-analytics/src/__tests__/index.test.js
  packages/react-native-analytics/src/index.js
  packages/react-native-analytics/src/integrations/AnalyticsService/AnalyticsService.js
  packages/react-native-analytics/src/integrations/AnalyticsService/__tests__/AnalyticsService.test.js
  packages/react-native-analytics/src/integrations/__tests__/index.test.js
  packages/react-native-analytics/src/integrations/castle/Castle.js
  packages/react-native-analytics/src/integrations/castle/__tests__/Castle.test.js
  packages/react-native-analytics/src/integrations/castle/index.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/FirebaseAnalytics.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/FirebaseAnalytics.test.js
  packages/react-native-analytics/src/integrations/forter/Forter.js
  packages/react-native-analytics/src/integrations/forter/__tests__/Forter.test.js
  packages/react-native-analytics/src/integrations/forter/constants.js
  packages/react-native-analytics/src/integrations/forter/index.js
  packages/react-native-analytics/src/integrations/forter/utils/defaultActionCommandBuilder.js
  packages/react-native-analytics/src/integrations/forter/utils/defaultNavigationCommandBuilder.js
  packages/react-native-analytics/src/integrations/index.js
  packages/react-native-analytics/src/integrations/integration/index.js
  packages/react-native-analytics/src/integrations/omnitracking/index.js
  packages/react-native-riskified-integration/README.md
  packages/react-native-riskified-integration/src/Riskified.js
  yarn.lock
Labels: :package:  react-native-analytics, :package:    react-native-riskified-integration, type: documentation

chore: publish [skip ci]
  packages/react-native-analytics/CHANGELOG.md
  packages/react-native-analytics/package.json
  packages/react-native-riskified-integration/CHANGELOG.md
  packages/react-native-riskified-integration/package.json
Labels: :package:  react-native-analytics, :package:    react-native-riskified-integration, type: documentation

fix(react-native-riskified-integration): fix wrong import in Riskified
  jest.config.js
  packages/react-native-riskified-integration/src/Riskified.js
  packages/react-native-riskified-integration/src/__tests__/Riskified.test.js
Labels: :package:    react-native-riskified-integration

fix(react-native-riskified-integration): fix wrong import in Riskified
  jest.config.js
  packages/react-native-riskified-integration/src/Riskified.js
  packages/react-native-riskified-integration/src/__tests__/Riskified.test.js
Labels: :package:    react-native-riskified-integration

chore: publish [skip ci]
  packages/react-native-riskified-integration/CHANGELOG.md
  packages/react-native-riskified-integration/package.json
Labels: :package:    react-native-riskified-integration, type: documentation

chore: add create github release and send email workflows
  .github/workflows/CI.yml
  .github/workflows/CreateRelease.yml
  .github/workflows/SendEmail.yml
Labels: type: maintenance

chore: add create github release and send email workflows
  .github/workflows/CI.yml
  .github/workflows/CreateRelease.yml
  .github/workflows/SendEmail.yml
Labels: type: maintenance

feat(react-native-analytics): update Castle.io version
  packages/react-native-analytics/package.json
  packages/react-native-analytics/src/integrations/castle/Castle.js
  packages/react-native-analytics/src/integrations/castle/__tests__/Castle.test.js
  yarn.lock
Labels: :package:  react-native-analytics

feat(react-native-analytics): update Castle.io version
  packages/react-native-analytics/package.json
  packages/react-native-analytics/src/integrations/castle/Castle.js
  packages/react-native-analytics/src/integrations/castle/__tests__/Castle.test.js
  yarn.lock
Labels: :package:  react-native-analytics

chore: publish [skip ci]
  packages/react-native-analytics/CHANGELOG.md
  packages/react-native-analytics/package.json
  packages/react-native-riskified-integration/CHANGELOG.md
  packages/react-native-riskified-integration/package.json
Labels: :package:  react-native-analytics, :package:    react-native-riskified-integration, type: documentation

chore(deps): bump dependencies
  package.json
  packages/react-native-metro-transformer/package.json
  yarn.lock
Labels: :package:   react-native-metro-transformer

chore: publish [skip ci]
  packages/react-native-metro-transformer/CHANGELOG.md
  packages/react-native-metro-transformer/package.json
Labels: :package:   react-native-metro-transformer, type: documentation

chore(deps): update metro version in resolutions
  package.json
  yarn.lock
Labels: none

chore(deps): update metro version in resolutions
  package.json
  yarn.lock
Labels: none

feat(react-native-analytics): update firebase mappings
  packages/react-native-analytics/package.json
  packages/react-native-analytics/src/__tests__/__snapshots__/index.test.js.snap
  packages/react-native-analytics/src/eventTypes.js
  packages/react-native-analytics/src/integrations/AnalyticsService/AnalyticsService.js
  packages/react-native-analytics/src/integrations/AnalyticsService/__tests__/AnalyticsService.test.js
  packages/react-native-analytics/src/integrations/AnalyticsService/constants.js
  packages/react-native-analytics/src/integrations/AnalyticsService/index.js
  packages/react-native-analytics/src/integrations/__fixtures__/baseAnalyticsEventData.fixtures.js
  packages/react-native-analytics/src/integrations/__fixtures__/eventSamples.fixtures.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/FirebaseAnalytics.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/FirebaseAnalytics.test.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/__snapshots__/FirebaseAnalytics.test.js.snap
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/__snapshots__/mappers.test.js.snap
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/mappers.test.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/utils.test.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/constants.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/defaultMappers/defaultEventsMapper.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/defaultMappers/defaultScreenViewsMapper.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/defaultMappers/getMappedEventPropertiesForEvent.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/defaultMappers/getVirtualEventsFromEvent.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/defaultMappers/index.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/defaultMappers/virtualEventTypes.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/mapper.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/utils.js
  packages/react-native-analytics/src/integrations/shared/dataMappings/index.js
  packages/react-native-riskified-integration/package.json
  yarn.lock
Labels: :package:  react-native-analytics, :package:    react-native-riskified-integration

feat(react-native-analytics): update firebase mappings
  packages/react-native-analytics/package.json
  packages/react-native-analytics/src/__tests__/__snapshots__/index.test.js.snap
  packages/react-native-analytics/src/eventTypes.js
  packages/react-native-analytics/src/integrations/AnalyticsService/AnalyticsService.js
  packages/react-native-analytics/src/integrations/AnalyticsService/__tests__/AnalyticsService.test.js
  packages/react-native-analytics/src/integrations/AnalyticsService/constants.js
  packages/react-native-analytics/src/integrations/AnalyticsService/index.js
  packages/react-native-analytics/src/integrations/__fixtures__/baseAnalyticsEventData.fixtures.js
  packages/react-native-analytics/src/integrations/__fixtures__/eventSamples.fixtures.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/FirebaseAnalytics.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/FirebaseAnalytics.test.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/__snapshots__/FirebaseAnalytics.test.js.snap
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/__snapshots__/mappers.test.js.snap
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/mappers.test.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/utils.test.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/constants.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/defaultMappers/defaultEventsMapper.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/defaultMappers/defaultScreenViewsMapper.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/defaultMappers/getMappedEventPropertiesForEvent.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/defaultMappers/getVirtualEventsFromEvent.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/defaultMappers/index.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/defaultMappers/virtualEventTypes.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/mapper.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/utils.js
  packages/react-native-analytics/src/integrations/shared/dataMappings/index.js
  packages/react-native-riskified-integration/package.json
  yarn.lock
Labels: :package:  react-native-analytics, :package:    react-native-riskified-integration

chore: publish [skip ci]
  packages/react-native-analytics/CHANGELOG.md
  packages/react-native-analytics/package.json
  packages/react-native-riskified-integration/CHANGELOG.md
  packages/react-native-riskified-integration/package.json
Labels: :package:  react-native-analytics, :package:    react-native-riskified-integration, type: documentation

chore: force shell-quote module to version 1.7.3
  package.json
  yarn.lock
Labels: none

chore: force shell-quote module to version 1.7.3
  package.json
  yarn.lock
Labels: none

fix(riskified-integration): upgrade `react-native` version to 0.69.1
  packages/react-native-riskified-integration/android/build.gradle
  packages/react-native-riskified-integration/package.json
  yarn.lock
Labels: :package:    react-native-riskified-integration

fix(riskified-integration): upgrade `react-native` version to 0.69.1
  packages/react-native-riskified-integration/android/build.gradle
  packages/react-native-riskified-integration/package.json
  yarn.lock
Labels: :package:    react-native-riskified-integration

chore: publish [skip ci]
  packages/react-native-riskified-integration/CHANGELOG.md
  packages/react-native-riskified-integration/package.json
Labels: :package:    react-native-riskified-integration, type: documentation

feat(analytics): add support to consent mode in Firebase
  packages/react-native-analytics/package.json
  packages/react-native-analytics/src/integrations/firebaseAnalytics/FirebaseAnalytics.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/FirebaseAnalytics.test.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/constants.js
Labels: :package:  react-native-analytics

feat(analytics): add support to consent mode in Firebase
  packages/react-native-analytics/package.json
  packages/react-native-analytics/src/integrations/firebaseAnalytics/FirebaseAnalytics.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/FirebaseAnalytics.test.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/constants.js
Labels: :package:  react-native-analytics

chore: publish [skip ci]
  packages/react-native-analytics/CHANGELOG.md
  packages/react-native-analytics/package.json
  packages/react-native-riskified-integration/CHANGELOG.md
  packages/react-native-riskified-integration/package.json
Labels: :package:  react-native-analytics, :package:    react-native-riskified-integration, type: documentation

feat(analytics): add mode property to Firebase integration
  packages/react-native-analytics/package.json
  packages/react-native-analytics/src/__tests__/__snapshots__/index.test.js.snap
  packages/react-native-analytics/src/__tests__/analytics.test.js
  packages/react-native-analytics/src/integrations/__fixtures__/generateAnalyticsEventData.fixtures.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/FirebaseAnalytics.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/FirebaseAnalytics.test.js
  packages/react-native-analytics/src/integrations/forter/__tests__/Forter.test.js
  yarn.lock
Labels: :package:  react-native-analytics

feat(analytics): add mode property to Firebase integration
  packages/react-native-analytics/package.json
  packages/react-native-analytics/src/__tests__/__snapshots__/index.test.js.snap
  packages/react-native-analytics/src/__tests__/analytics.test.js
  packages/react-native-analytics/src/integrations/__fixtures__/generateAnalyticsEventData.fixtures.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/FirebaseAnalytics.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/FirebaseAnalytics.test.js
  packages/react-native-analytics/src/integrations/forter/__tests__/Forter.test.js
  yarn.lock
Labels: :package:  react-native-analytics

chore: publish [skip ci]
  packages/react-native-analytics/CHANGELOG.md
  packages/react-native-analytics/package.json
  packages/react-native-riskified-integration/CHANGELOG.md
  packages/react-native-riskified-integration/package.json
Labels: :package:  react-native-analytics, :package:    react-native-riskified-integration, type: documentation

fix(analytics): fix bugs with `basic` mode in FirebaseAnalytics
  packages/react-native-analytics/src/integrations/firebaseAnalytics/FirebaseAnalytics.js
  packages/react-native-analytics/src/integrations/firebaseAnalytics/__tests__/FirebaseAnalytics.test.js
Labels: :package:  react-native-analytics

.github/labeler.yml:

':package:  react-native-analytics':
  - 'packages/react-native-analytics/**/*'
  - 'packages/react-native-analytics/**/.*'
  - 'packages/react-native-analytics/.**/*'
  - 'packages/react-native-analytics/.**/.*'

':package:   react-native-metro-transformer':
  - 'packages/react-native-metro-transformer/**/*'
  - 'packages/react-native-metro-transformer/**/.*'
  - 'packages/react-native-metro-transformer/.**/*'
  - 'packages/react-native-metro-transformer/.**/.*'

':package:   react-native-payments':
  - 'packages/react-native-payments/**/*'
  - 'packages/react-native-payments/**/.*'
  - 'packages/react-native-payments/.**/*'
  - 'packages/react-native-payments/.**/.*'

':package:    react-native-riskified-integration':
  - 'packages/react-native-riskified-integration/**/*'
  - 'packages/react-native-riskified-integration/**/.*'
  - 'packages/react-native-riskified-integration/.**/*'
  - 'packages/react-native-riskified-integration/.**/.*'

'type: maintenance':
  - any: ['.github/**/*', '!**/*.md', '!.**/*.md']

'type: documentation':
  - '**/*.md'
  - '**/.*.md'
  - '.**/*.md'
  - '.**/.*.md'
